# Node stuff
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# Electron build output
dist/
out/
release/
*.asar

# System files
.DS_Store
Thumbs.db

# VSCode
.vscode/
.history/